<div *ngIf='provider === "hcaptcha"' class="hcaptcha-container">
    <ng-hcaptcha [siteKey]="key" (verify)="onHCaptchaVerify($event)" (expired)="onHCaptchaExpired($event)"
        (error)="onHCaptchaError($event)">
    </ng-hcaptcha>
</div>
<div class="text-green-600 flex flex-row items-center justify-center"
    *ngIf="provider === 'transparent' && is_transparent_checked">
    <mat-icon class="text-green-600" svgIcon="mat_outline:verified_user"></mat-icon>
    <span>
        Já verificamos que você não é um robô =)
    </span>
</div>
<div class="text-yellow-500 flex flex-row items-center justify-center" *ngIf="is_error_request_provider">
    <mat-icon class="text-yellow-500" svgIcon="mat_outline:gpp_maybe"></mat-icon>
    <span><a href="javascript:;" style="text-decoration: underline;" (click)="recuperaTipoCaptcha()">
            Clique aqui</a> para verificar que você não é um robô.</span>
</div>

<div class="text-blue-500 flex flex-row items-center justify-center" *ngIf="is_loading" fxLayoutAlign="center center">
    <mat-icon class="text-blue-500" svgIcon="mat_outline:policy"></mat-icon>
    <span> Estamos verificando se você é um robô.</span>
</div>
